.text-type {
  display: inline-block;
  white-space: pre-wrap;
  color: black;
  margin-left: 50px;
  margin-top: 700px;
  font-size: 4rem ;
  font-weight: 300;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
